

<%- include('../layouts/header.ejs') %>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account<span>Edit Address</span></h1>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/userhome">Home</a></li>
                <li class="breadcrumb-item"><a href="shop">Shop</a></li>
                <li class="breadcrumb-item"><a href="address">Address</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Address</li>
            </ol>
        </div>
    </nav>
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " id="tab-dashboard-link" href="/profile"
                                    aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" href="/orders" aria-controls="tab-orders"
                                    aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-address-link" href="/address"
                                    aria-selected="true">Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" href="/accountDetails"
                                    aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Out</a>
                            </li>
                        </ul>
                    </aside>


                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="container">
                                <div class="dashboard">
                                    <div class="page-content">
                                        <div class="main">
                                            <div class="row">
                                                <div class="col-md-8 col-lg-9">
                                                    <div class="tab-content">
                                                        <div class="col-md-8 col-lg-9">
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade show active" id="tab-account" role="tabpanel"
                                                                    aria-labelledby="tab-account-link">
                                                                    <form action="/editAddress" method="post"
                                                                        class="p-5 shadow rounded bg-white">
                                                                        <h2 class="mb-5 text-center">Edit Address</h2>
                    
                                                                        <div class="row g-3">
                                                                            <div class="col-md-6">
                                                                                <label for="name" class="form-label">Name</label>
                                                                                <input type="text" class="form-control" id="name"
                                                                                    name="name" placeholder="Enter your Name" value="<%= address.name %>" required>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="mobile" class="form-label">Mobile Number</label>
                                                                                <input type="number" class="form-control" id="mobile"
                                                                                    name="mobile" placeholder="10-digit number" value="<%= address.mobile %>"required>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="postalCode" class="form-label">Postal Code</label>
                                                                                <input type="number" class="form-control" id="postalCode"
                                                                                    name="postalCode" placeholder="Postal Code" value="<%= address.postalCode %>" required>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="locality" class="form-label">Locality</label>
                                                                                <input type="text" class="form-control" id="locality"
                                                                                    name="locality" placeholder="Locality" value="<%= address.locality %>" required>
                                                                            </div>
                                                                            <div class="col-md-12">
                                                                                <div class="mb-3">
                                                                                    <label for="streetAddress" class="form-label">Address
                                                                                        (Area and Street)</label>
                                                                                    <textarea class="form-control" id="streetAddress"
                                                                                        name="streetAddress" placeholder="" value="<%= address.streetAddress %>" rows="3"
                                                                                        required></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="city" class="form-label">City/District/Town</label>
                                                                                <input type="text" class="form-control" id="city"
                                                                                    name="city" placeholder="" value="<%= address.city %>" required>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="state" class="form-label">State</label>
                                                                                <select class="form-select" name="state" id="state" value="<%= address.state %>" required>
                                                                                    <option selected> Select State </option>
                                                                                    <!-- Add your state options here -->
                                                                                    <option value="AP">Andhra Pradesh</option>
                                                                                    <option value="AR">Arunachal Pradesh</option>
                                                                                    <option value="AS">Assam</option>
                                                                                    <option value="BR">Bihar</option>
                                                                                    <option value="CT">Chhattisgarh</option>
                                                                                    <option value="GA">Goa</option>
                                                                                    <option value="GJ">Gujarat</option>
                                                                                    <option value="HR">Haryana</option>
                                                                                    <option value="HP">Himachal Pradesh</option>
                                                                                    <option value="JK">Jammu and Kashmir</option>
                                                                                    <option value="JH">Jharkhand</option>
                                                                                    <option value="KA">Karnataka</option>
                                                                                    <option value="Kerala">Kerala</option>
                                                                                    <option value="MP">Madhya Pradesh</option>
                                                                                    <option value="MH">Maharashtra</option>
                                                                                    <option value="MN">Manipur</option>
                                                                                    <option value="ML">Meghalaya</option>
                                                                                    <option value="MZ">Mizoram</option>
                                                                                    <option value="NL">Nagaland</option>
                                                                                    <option value="OD">Odisha</option>
                                                                                    <option value="PB">Punjab</option>
                                                                                    <option value="RJ">Rajasthan</option>
                                                                                    <option value="SK">Sikkim</option>
                                                                                    <option value="TN">Tamil Nadu</option>
                                                                                    <option value="TG">Telangana</option>
                                                                                    <option value="TR">Tripura</option>
                                                                                    <option value="UP">Uttar Pradesh</option>
                                                                                    <option value="UT">Uttarakhand</option>
                                                                                    <option value="WB">West Bengal</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="landmark" class="form-label">Landmark</label>
                                                                                <input type="text" class="form-control" id="landmark"
                                                                                    name="landmark" placeholder="optional" value="<%= address.landmark %>">
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="alterPhone" class="form-label">Alternate
                                                                                    Phone</label>
                                                                                <input type="text" class="form-control" id="alterPhone"
                                                                                    name="alterPhone" placeholder="optional" value="<%= address.alterPhone %>">
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <label for="addressType" class="form-label">Address Type</label>
                                                                                <select class="form-select" id="addressType"
                                                                                    name="addressType" value="<%= address.addressType %>" required>
                                                                                    <option selected> Select </option>
                                                                                    <option value="home">Home</option>
                                                                                    <option value="work">Work</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="text-center mt-5">
                                                                            <button type="submit" class="btn btn-primary px-4">Save</button>
                                                                            <input type="hidden" name="id" value="<%=address._id%>" >
                                                                            <a href="/address"
                                                                                class="btn btn-secondary">Cancel</a>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<%- include('../layouts/footer.ejs') %>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html>
